


.login-form{
	position:relative;
	justify-content:center;
}

.login-form h2{
	font-size:30px;
	Line-height:40px;
	margin-bottom:5px;
	font-weight:500;
	color:#272346;
	text-align:center;
}

.login-form .main{
	position:relative;
	display:flex;
}

.content{
	flex-basis:50%;
	padding:3em 3em;
	background: #fff;
	box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
	border-top-Left-radius:8px;
	border-bottom-Left-radius:8px;
}

.form-img{
	flex-basis:100%;
	align-items:center;
}

.form-img img{
	max-width:100%;
}

p{
	text-align:center;	
}

.btn,
button{
	border-radius:35px;
	margin-top:50px;
}
.login-form form{
	margin:30px 0;
}
.login-form input.xyz{
	outline:none;
	margin-bottom:15px;
	font-stretch:16px;
	color:#999;
	text-align:left;
	padding:14px 20px;
	width:100%;
	display:inline-block;
	box-sizing:border-box;
	border:none;
	border-bottom:1px solid #e5e5e5;
	transition:0.3s ease;
}

.login-form button{
	font-size:18px;
	color:#fff;
	width:100%;
	background: #61acb3;
	border:none;
	padding:14px 15px;
	font-weight:500;
	transition:0.3s ease;
}


@media(max-width:736px){
	.login-form .main{
		flex-direction:column;
	}
	.login-form form{
		margin-top:30px;
		margin-bottom:10px;
	}
	.form-img{
		border-radius:0;
		border-bottom-Left-radius:8px;
		border-bottom-right-radius:8px;
		order:1;
	}
	.content{
		order:2;
		border-radius:0;
		border-top-Left-radius:8px;
		border-top-Left-radius:8px;
	}
}